.grey_background {
    background-color: lightgrey;
}

.white_background {
    background-color: whitesmoke;
}

.my-card {
    width: 18rem;
    height: 18rem;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}