.icon {
    width: 40px;
    height: 40px;
    padding: 5px;
}

#pfp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
}

.outer {
    padding: 20px;
    height: 100%;
    flex-wrap: wrap;
    background-color: lightgrey;
}

.left {
    padding: 10%;
    flex: 1;
    float: left;
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
}

.right {
    padding: 10%;
    flex: 1;
    float: right;
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
}

.widget {
    font: "helvetica";
    font-size: large;
}

.important {
    font-weight: bold;
    font-size: larger;
}

#bottom_bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: #307DCF;
    text-align: center;
}

#language_list {
    display: inline-block;
    text-align: left;
}

#language_times {
    display: inline-block;
    text-align: left;
    font-style: italic;
    list-style-type: none;
}

#skills_table {
    text-align: center;
    border: 2px dotted red;
}

